@import url('https://fonts.googleapis.com/css2?family=Inter:weight@500&family=Jost:weight@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #0e0e0e;
    color: white;
    height: 100vh;
    overflow: hidden;
}

.bodyContent {
    height: 90vh;
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-basis: row wrap;
    justify-content: space-between;
    margin: 0 1em;

}

.leftContent {
    margin: 0 0 0 8em;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
    height: fit-content;
    align-self: center;
    position: relative;

    .heading1 {
        position: relative;
        top: -100px;
        font-size: 64px;
        font-weight: 600;
        &:hover {
            text-shadow: 0 0 10px rgb(255, 255, 255, 0.8);

        }    }

    .heading2 {
        position: relative;
        top: -80px;
        line-height: 139px;
        font-size: 96px;
        font-weight: 700;
        background: linear-gradient(180.71deg, #65FF80 0.61%, #0E0E0E 164.95%);
        background-size: 100%;
        margin-bottom: 20px;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        &:hover {
            text-shadow: 0 0 10px rgb(101, 255, 128, 0.8);

        }
    }

    .buttonContainer {
        align-self: center;
        display: flex;
        flex-flow: column wrap;
        gap: 2em;
    }

    .iconButton {
        width: fit-content;
        height: 68px;
        padding: 12px;
        font-family: 'Inter', sans-serif;
        background-color: #0e0e0e;
        color: white;
        border: none;
        border-radius:15px;
        cursor: pointer;
        display: flex;
        gap: 1em;
        font-size: 1.5em;
        position: relative;
        margin-bottom: 30px;
        &:hover {
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glow effect on hover */
          }

        img {
            width: 70px;
            height: 60px;
            border: none;
            &:hover span {
                text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* White shadow on hover for the image */
              }
        }

        img.scanIcon {
            position: relative;
            top:-10px;
        }

        img.uploadIcon {
            position: relative;
            left: 6px;
            top:-10px;
        }

        span {
            height: fit-content;
            position: relative;
            top: 26%;
            margin-top: 3px;
        }
    }
}

.square {
    width: 660px;
    height: 688px;
    align-self: center;

    div.border {
        width: 100%;
        height: 654px;
        position: relative;
        right: 20%;
        z-index: 0;
        border: 2px solid white;
        &:hover {
            box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
          }
    }

    img.rightImage {
        position: relative;
        width: 100%;
        height: 100%;
        bottom: 92%;
        right: 18%;
        z-index: 1;

    }

}
