@use '../utils' as u;
@use '../utils/functions' as f;

.details {
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
    margin: f.rem(2);
    margin-inline: auto;
    justify-content: center;
    align-content: center;

    &__heading {
        text-transform: uppercase;
        width: fit-content;
        margin-inline: auto;
        font-weight: 300;
        font-family: u.$font-jost;
        font-size: var(--font-xl);
        margin-bottom: f.rem(24);
        letter-spacing: f.rem(2);
    }

    &__matter {
        display: flex;
        flex-flow: column wrap;
        padding-right: f.rem(4);
        font-family: u.$font-poppins;
        letter-spacing: f.rem(2);
        justify-self: center;
        align-items: center;

        &__image {
            outline: f.rem(2) solid white;
            outline-offset: f.rem(6);
            border-radius: f.rem(12);
            flex-basis: f.rem(156);
            flex-grow: 1;
        }

        &__heading { margin-top: f.rem(16);
            font-size: var(--font-lg);
            font-weight: 500;
            text-align: center;
        }

        &__percentage {
            font-size: var(--font-md);
            text-transform: uppercase;
        }

        &__main {
            font-size: var(--font-md);
            font-weight: 300;
            max-width: min(92vw, f.rem(950));
            & p strong {
                font-size: var(--font-lg);
                font-weight: 700;
            }
            & li strong {
                color: var(--color-green);
                font-weight: 700;
            }
        }
    }
    @include u.breakpoint-up(medium) {
        &__matter {
            &__image {
                flex-basis: f.rem(256);
            }
        }
    }
    @include u.breakpoint-up(large) {
        &__matter {
            &__image {
                flex-basis: f.rem(321);
            }
            &__main {
            text-align: justify;
            }
        }
    }
}
