@use '../utils' as u;
@use '../utils/functions' as f;
@use '../components/button';

:root {
    --main-page-grid-template-columns: 1fr;
    --main-page-grid-template-rows: 1fr;
    --main-page-grid-area: "c1";
}

.Main {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: f.em(64);

    @include u.breakpoint-up(medium) {
        gap: f.em(128);
    }

    @include u.breakpoint-up(large) {
        display: flex;
        gap: 0;
        flex-flow: column wrap;
        justify-content: space-between;
        height: 100vh;
    }

    &__wrapper {
        flex-basis: 80%;
        display: grid;
        justify-items: center;
        align-items: center;
        justify-self: center;
        grid-template-rows: var(--main-page-grid-template-rows);
        grid-template-columns: var(--main-page-grid-template-columns);
        grid-template-areas: var(--main-page-grid-area);

        .image-upload,
        .web-camera {
            .change-btn {
                text-transform: uppercase;
                letter-spacing: f.rem(1);
                @extend %button;

                img {
                    width: f.rem(34);
                    height: f.rem(28);
                    border: none;

                    &:hover span {
                        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
                        /* White shadow on hover for the image */
                    }
                }
            }
        }

        .image-upload {
            width: fit-content;
            grid-area: c1;
        }

        .web-camera {
            width: fit-content;
            grid-area: c1;
        }

        .waste-img {
            grid-area: c2;
        }

        .details {
            justify-self: center;
            grid-area: c3;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;

            &__heading {
                text-transform: uppercase;
                width: fit-content;
                margin-inline: auto;
                font-weight: 300;
                font-family: u.$font-jost;
                font-size: var(--font-xl);
                margin-bottom: f.rem(24);
                letter-spacing: f.rem(2);
            }

            &__matter {
                border-right: f.rem(4) solid var(--color-green);
                margin-right: f.rem(18);
                padding-right: f.rem(4);
                font-family: u.$font-poppins;

                &__heading {
                    letter-spacing: f.rem(2);
                    font-size: var(--font-lg);
                    font-weight: 500;
                }

                &__para {
                    letter-spacing: f.rem(2);
                    font-size: var(--font-md);
                    font-weight: 300;
                }
            }
        }

    }
}
