@use '../utils' as u;
@use '../utils/functions' as f;


html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: u.$font-roboto;
    background-color: var(--color-black);
    color: var(--color-white);
}

#root {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    row-gap: f.rem(52);

    @include u.breakpoint-up(medium) {
        gap: f.rem(140);
        display: flex;
        flex-flow: column wrap;
    }
}
