@use '../utils' as u;


html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: u.$font-roboto;
    background-color: var(--color-black);
    color: var(--color-white);
}
