
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0e0e0e;
    box-shadow: 0 13px 13px rgba(255, 255, 255, 0.1); /* White shadow */
    // border: white solid 1px;
}

.logoContainer {
    margin-right: 10px;
    margin-left: 20px;
}

.logo {
    width: 50px;
    height: auto;
}

.navButtons {
    display: flex;
}

.navButton {
    background-color: #0e0e0e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 35px;
    &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Glow effect on hover */
      }
}

.icon {
    width: 30px;
    height: auto;
    border: none;
}