.imageContainer {
    display: flex;
    color: white;
    gap: 14px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;

    .image {
        outline: 2px solid black;
        height: 18em;
        width: 18em;
        border-radius: 2em;
    }

    div.info {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-flow: column wrap;
        gap: 4px;

        .heading {
            width: fit-content;
            border-radius: 14px;
            padding: 14px;
            background-color: gray;
        }

        .information {
            color: black;
            background-color: beige;
            padding: 14px;
            border-radius: 14px;
            margin: 2px;
            width: 50%;
            padding: 14px;
            text-align: justify;
        }
    }
}
