* {
    padding: 0;
    margin: 0;
}

.drop-box {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 4em;
    flex-flow: column wrap;
    width: 24em;
    height: 24em;
    padding: 14px;
    margin: 4px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.drop-box:hover {
    cursor:pointer;
}

label:hover {
    cursor: pointer;
}

.label1 {
    display: block;
    font-size: 1em;
}

.label2 {
    font-size: 1em;
}



